.page {
    display: flex;
    justify-content: center;
    align-items: center;
}



.calc_box {
    margin-top: 150px;
    width: 450px;
    height: 600px;
    background-color: rgb(47, 46, 46);
    border-radius: 15px;
}

.display_container {
    display: flex;
    height: 150px;
    border-bottom: 3px solid rgb(122, 118, 118);
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    width: 350px;
    height: 100px;
    background-color: rgb(139,172,15);
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 80px;

}

.button_container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 450px;
    gap: 20px;
    align-content: flex-start;
    align-items: center;
    justify-content: center;

}

.button {
    display: flex;
    width: 100px;
    height: 50px; 
    background-color: rgb(247, 72, 8);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;

    
}

#clear {
    font-size: 25px;
}

#delete {
    font-size: 25px;
}